---
// Component imports
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="My Blog">
    <section class="container about" aria-label="About Me">
        <img src="/images/headshot.jpg" alt="Me" width="200" height="330" />
        <div class="content">
            <h1 class="h1">My Blog</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum
                neque commodi eaque harum dignissimos magni esse eligendi
                adipisci quae hic?
            </p>
            <Link href="https://www.instagram.com/hasqibar/"
            style="primary"
            text="Contact Me" />
        </div>
    </section>
</Layout>
