---
// Component imports
import Layout from "../layouts/Layout.astro";

// example how to use switch using boolean
const isRed = false;
---

<Layout title="My Blog">
    <!-- u can call using class list and make another call using bridge from regular and boolean as map format -->
    <h3 class:list={["big", {red : isRed}]}>Hi From About</h3>
</Layout>

<!-- regular css -->
<style>
    .big{
        font-size: 2rem;
    }

    .red{
        color: red;
    }
</style>