---

---

<footer>
    <small>
        Copyright &copy;  <span id="copyright"></span> |
            All Right Reserved
        </span>
    </small>
</footer>

<script>
    document.querySelector("#copyright").textContent = new Date().getFullYear().toString();
</script>