---
import MainHead from './MainHead.astro';


interface Props {
	// ? means optional
	title? : string;
	description? : string;
}

const {
	title = "Default Title",
	description = "Default Description"
} = Astro.props as Props;
---

<!doctype html>
<html lang="en">
	<MainHead {title} {description}/>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
