---
import MainHead from './MainHead.astro';
import Footer from '../components/Footer.astro';

interface Props {
	// ? means optional
	title? : string;
	description? : string;
}

const {
	title = "Default Title",
	description = "Default Description"
} = Astro.props as Props;

import "../styles/global.css";
import Nav from '../components/Nav.astro';

---

<!doctype html>
<html lang="en">
	<MainHead {title} {description}/>
	<Nav/>
	<body>
		<slot />
	</body>
	<Footer/>
</html>
